@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
}

.center-margin {
  margin: 0 auto;
  max-width: 720px;
  padding: 1.8em;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #333333;
  background: #FFF;
}

a {
	text-decoration: none;
}

/* QUESTIONS */

.grid {
	padding: 1em 1em 0 1em;
	margin: 0;
	column-count: 4;
	column-gap: 2em;
	column-rule: 2px outset rgba(0, 0, 128, 0.3);
}

/* .module input[type="radio"] {
  display: none;
} */

.module {
	display: inline-block;
	margin: 10px 0 1em 0;
	list-style: none;
	background: #fff;
	padding: 20px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.02);
  width: 100%;
  border: 2px solid black;
}

.module:has(input:checked) {
  background-color: #4caf50;
  color: white;
}

.quiz-container {
  max-width: 1300px;
  margin: auto;
  padding: 1.8em;
}

/* INDEX */

a.start-btn,
h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  color: #333333;
  font-weight: 400;
  font-size: 2.6em;
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-weight: 500;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: -0.012em;
  line-height: 1.65;
	color: #1D3557;
}

h3 {
  font-weight: 400;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: -0.012em;
  color: #1D3557;
  opacity: 0.8;
  margin-top: -0.6em;
}

a.start-btn {
  display: table;
  margin: 0 auto;
  background: #E6545F;
  padding: 1.5em 3.5em;
  text-align: center;
  color: white;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 500;
}

a.start-btn:hover {
  background: #FE727B;
}

p {
	margin: 0;
  line-height: 1.6;
}

p.quote {
  font-family: "Merriweather", serif;
  position: relative;
  margin: 3em auto 5.5em;
  font-size: 13.5px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding: 0 10px 2em;
  font-weight: 500;
  max-width: 520px;
}

p.quote .symb {
  font-size: 4em;
  position: absolute;
  top: -0.4em;
  left: -0.5em;
	color: #4A90E2;
}

p.quote .author {
  font-size: 1.2em;
  position: absolute;
  bottom: -0.4em;
  right: -0.5em;
	color: #4A90E2;
}

@media screen and (max-width: 960px) {
	.grid {
		column-count: 3;
	}
}

@media screen and (max-width: 600px) {
	.grid {
		column-count: 2;
	}
}

@media screen and (max-width: 400px) {
	.grid {
		column-count: 1;
	}
}
