body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 20%;
}
.start-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.slider-container {
    margin: 20px 0;
    text-align: left;
}
.slider {
    width: 100%;
}
.slider-label {
    display: flex;
    justify-content: space-between;
}
