@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
}

.center-margin {
  margin: 0 auto;
  max-width: 720px;
  padding: 1em 2em 1.8em;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #333333;
  background: #FFF;
}

a {
	text-decoration: none;
}

/* QUESTIONS */

.grid {
	padding: 1em 1em 0 1em;
	margin: 0;
	column-count: 4;
	column-gap: 2em;
	column-rule: 2px outset rgba(0, 0, 128, 0.3);
}

.module input[type="radio"] {
  display: none;
}

.module {
	display: inline-block;
	margin: 10px 0 1em 0;
	list-style: none;
	background: #F7F9FB;
	padding: 20px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.02);
  width: 100%;
  border: 1px solid #E0E7EF;
  border-radius: 5px;
}

.module:has(input:checked) {
  background-color: #4A90E2;
  border: 1px solid #2277DA;
  color: white;
}

.quiz-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 1.5em;
}

/* INDEX */

a.start-btn,
h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  color: #333333;
  font-weight: 400;
  font-size: 2.2em;
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 1.25;
}

h2 {
  font-weight: 500;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: -0.012em;
  line-height: 1.4;
	color: #1D3557;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: -0.012em;
  color: #1D3557;
  opacity: 0.8;
  margin-top: -0.6em;
  padding-bottom: 2em;
}

a.start-btn {
  display: table;
  margin: 0 auto;
  background: #E6545F;
  padding: 1.2em 3.4em;
  text-align: center;
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 500;
}

a.start-btn:hover {
  background: #FE727B;
}

p {
	margin: 0;
  line-height: 1.6;
}

p.quote {
  font-family: "Merriweather", serif;
  position: relative;
  margin: 3.5em auto 2.5em;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding: 0 20px 2em;
  font-weight: 500;
  max-width: 520px;
}

p.quote .symb {
  font-size: 4em;
  position: absolute;
  top: -0.3em;
  left: -0.3em;
	color: #4A90E2;
}

p.quote .author {
  font-size: 1.1em;
  position: absolute;
  bottom: -0.4em;
  right: -0.5em;
  color: #1D3557;
  opacity: 0.8;
}

/* Slider */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Mantém um tamanho adequado */
    margin: 10px auto;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    gap: 10px;
}

.slider {
    flex: 1;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
}

.slider:hover {
    background: #bbb;
}

/* MEDIA QUERY PARA MOBILE */
@media (max-width: 480px) {
    .slider-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .slider-labels {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }

    .slider-wrapper {
        width: 100%;
    }
}

#question-text {
   font-size: 1.25em;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   padding: 0.2em 0 0.5em;
}

/* bottom btn */

.btn-container {
  display: table;
  margin: 2em auto;
}

.btn-container button {
  background: none;
  border: none;
  color: #E6545F;
  cursor: pointer;
  transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.btn-container button:hover {
  background: none;
  border: none;
  color: #FE727E;
}

.btn-container button svg {
    fill: #E6545F; /* Cor padrão */
}

.btn-container button:hover svg {
    fill: #FE727E; /* Cor no hover */
}

@media screen and (max-width: 960px) {
	.grid {
		column-count: 3;
	}
}

@media screen and (max-width: 600px) {
	.grid {
		column-count: 2;
	}
}

@media screen and (max-width: 400px) {
	.grid {
		column-count: 1;
	}
}
